/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-background-color:blue;
	-fx-font-size: 12px;
	-fx-text-fill: lightblue;
	
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

#panel_izq {
	-fx-background-color: lightblue;
}